<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html id="spree-application" class="loading" lang="<%= I18n.locale %>"><!--<![endif]-->
  <head>
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body id="<%= controller.controller_name %><%= controller.action_name != 'index' ? "_#{controller.action_name}" : '' %>"
    class="<%= controller.controller_name %><%= controller.action_name != 'index' ? " #{controller.action_name}" : '' %>">

    <%= render :partial => 'spree/shared/header' %>

    <% if controller.controller_name == 'home' && controller.action_name == 'index' %>
 
     <div class="video-container">
      <!--  <iframe id="<%= 'home-video' unless (browser.platform.ios? || browser.device.mobile?) %>"
          src="https://player.vimeo.com/video/214544992?autoplay=1&loop=1&title=0&byline=0&portrait=0"
          width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe> -->
       <img src="https://agora-file-storage-prod.s3.amazonaws.com/workplace/attachment/509935615944650839?response-content-disposition=inline%3B%20filename%3D%22caution%25202017.jpg%22%3B%20filename%2A%3Dutf-8%27%27caution%25202017.jpg&x-amz-security-token=FQoDYXdzEHkaDIkgp7GpNKVpi6BUBCK3Ay0eZx8csqzdMqLGH%2By2BCCpmoN25CDqMEIMuWfddRfRvvI%2Fk58lhgO1CCj1SiFGjLIwV5audTz2rs0jRrSFYhTK%2B8XKsUJ88%2BDxlVDVCNtFCZRGZjI%2BqGxB5P0AzeDNMHeTX7iEvv9Op481XUrTY5dD%2Fkqoc6DKrUBbDc7mbHRfvpp8SCNXvpPD56BWqjmGfBUvnl8UMeGgNokwDpzqdqnnZ6FvlJUEqczwQIvQ4P5yC3uKLojR09%2BNLHeuwwLMD%2BPTKZK6tQTAj8buVgfn8X37wxaLiXLgGHtfspXQVIHKvZwVDFuoNTXWIQxsuH1Sb7ovO19%2Bi4dy9m3ZrZ5S7WkpURa4pkwIyzej9RSmDSl5cuHz%2FcEvHaqEYxfFrC6DHJFhauRTuCfpG9VLyptf%2F7Om0wNkrdadwoILF27PNogg6OsyYXgF440z%2B50REFIpKogpZzWTl4yraJtV4o7el3c%2BuTA2Mfhl9pdI77WRWYgEy9HTSOXcxaFQPM%2FUJBcqXHouGhMoVtA9VzLU3UxCq8woX8jrd8auljKVY3K3Z%2BYyM%2FRqd7ElrL1VKQlkBLneeiUGQteTn4som5ig0QU%3D&AWSAccessKeyId=ASIAJXKYZMF7JNKIFG7A&Expires=1512578595&Signature=VtOVdQsAD7%2Bp4bEsDfaZLj%2B3czo%3D">
      </div>
     <a href="/products" class="homevideooverlay"><div id="onTop"></div></a>
      

        <!-- <video id="home-video" preload="auto" autoplay="true" loop="true">
          <source src="https://newyorksunshine-production.s3.amazonaws.com/video/video.mp4" type="video/mp4">
          <source src="https://newyorksunshine-production.s3.amazonaws.com/video/video.webm" type="video/webm">
          <source src="https://newyorksunshine-production.s3.amazonaws.com/video/video.ogv" type="video/ogg">
        </video> -->
      <!-- </div> -->
    <% else %>

      <div id="wrapper" class="row" data-hook>

        <div class="product-background"></div>

        <%= yield :top %>

        <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content">
          <%= flash_messages %>
          <%= yield %>
        </div>

      </div>

      <%= render :partial => 'spree/shared/footer' %>

      <%= render :partial => 'spree/shared/subscribe_form' %>
    <% end %>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>

  </body>
</html>
