<div id="stockists">

  <% if @stockists.any? %>
    <% @stockists.each do |region, stockists| %>

      <h4><%= region %></h4>

      <dl>

        <% stockists.each do |stockist| %>
          <dt><%= stockist.name %>
          <dd>
            <address><%= stockist.address %></address>

            <% if stockist.phone_number.present? %>
              <%= link_to(stockist.phone_number, "tel://#{stockist.phone_number}/", { :class => "phone-number"}) %>
            <% end %>

            <% if stockist.link.present? %>
              <%= link_to(nice_url(stockist.link), stockist.link, { :class => "website", :target => "_blank" }) %>
            <% end %>

        <% end %>
      </dl>
    <% end %>
  <% end %>

</div>