<%= form_for [:admin, @post] do |f| %>
  <legend align="center"><%= f.object.new_record? ? "New Post" : "Edit Post" %></legend>


  <div class="twelve columns alpha">

    <%= f.field_container :title do %>

      <%= f.label :title %>
      <%= f.text_field :title, :class => "fullwidth" %>

    <% end %>
  </div>

  <div class="four columns omega">

    <%= f.field_container :published_on do %>

      <%= f.label :published_on %>
      <%= f.text_field :published_on, { :value => datepicker_field_value(@post.published_on), :class => 'datepicker fullwidth' } %>

    <% end %>
  </div>

  <div class="sixteen columns alpha omega">

    <%= f.field_container :description do %>

      <%= f.label :description %>
      <%= f.text_area :description, { :class => 'fullwidth',  :rows => 13 } %>

    <% end %>

  </div>

  <div class="sixteen columns alpha omega">

    <%= f.field_container :embed_code do %>

      <%= f.label :embed_code %>
      <%= f.text_area :embed_code, :class => "fullwidth" %>

    <% end %>

  </div>

  <div class="row">
    <div class="ten columns alpha">
      <%= f.field_container :link_url do %>
        <%= f.label :link_url %>
        <%= f.text_field :link_url, :class => 'fullwidth' %>
      <% end %>
    </div>

    <div class="six columns omega">
      <%= f.field_container :tag_list do %>
        <%= f.label :tag_list, "Tags (separated by commas)" %><br />
        <%= f.text_field :tag_list, :class => "fullwidth" %>
      <% end %>
    </div>

  </div>


  <hr>

  <legend>Post Images</legend>

  <br>

  <div id="post_image" class="sortable">

    <%= f.fields_for :post_images, { include_id: false } do |f| %>
      <%= render partial: 'post_image_fields', locals: { f: f } %>
    <% end %>

    <br>

    <div class="links">
      <%= link_to_add_association 'Add Post Image', f, :post_images %>
    </div>

  </div>


  <%= f.submit %>

<% end %>