<div class="nested-fields sortable-item">
  <table class="table">
    <tbody>
      <tr>
        <td><%= f.label :attachment %></td>
        <td>

          <% if f.object.attachment_updated_at.present? %>
            <%= link_to f.object.attachment.url, target: "_blank" do %>
              <%= image_tag f.object.attachment.url(:thumb) %>
            <% end %>
            <br>
          <% end %>

          <%= f.file_field :attachment, label: false %>

        </td>
        <td>
          <%= f.hidden_field :position, class: "position" %>
          <%= f.hidden_field :id %>
          <%= link_to_remove_association "Remove", f %>
        </td>
      </tr>
    </tbody>
  </table>
</div>