<div class="feed-item" data-id="<%= id %>" id="feeditem_<%= id %>">
  <%= image_tag image_src, { width: 100 } %>
  <div class="info">

    <% if(defined? href) %>

      <%= link_to href, { :target => "_blank" } do %>
        <%= category %>
        <br>
        <%= title %>
      <% end %>

    <% else %>

      <div>
        <%= category %>
        <br>
        <%= title %>
      </div>


    <% end %>


    <p class="actions">
      <%= link_to "edit", edit_admin_feed_item_path(id), :class => "fa fa-edit no-text" %>
      &nbsp;
      <%= link_to "delete", admin_feed_item_path(id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash no-text" %>
    </p>

  </div>
</div>
