<% if feed_item.product %>
  <% image_source = feed_item.attachment.present? ? feed_item.attachment.url(:cropped) : "//placehold.it/856x1248" %>
  <%= render :partial => "feed_item", :locals => { :id => feed_item.id, :image_src => image_source, :category => "SHOP", :title => feed_item.product.name, :href => product_path(feed_item.product) } %>
<% else %>

  <div class="feed-item" data-id="<%= feed_item.id %>" id="feeditem_<%= feed_item.id %>">

    <div class="info">
      <p>No product to display</p>
      <p class="actions">
        <%= link_to "edit", edit_admin_feed_item_path(feed_item.id), :class => "fa fa-edit no-text" %>
        &nbsp;
        <%= link_to "delete", admin_feed_item_path(feed_item.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash no-text" %>
      </p>
    </div>

  </div>

<% end %>
