<%= form_for [:admin, @lookbook] do |f| %>
  <fieldset>
    <legend align="center">
      <%= f.object.new_record? ? "New Lookbook" : "Edit Lookbook" %>
    </legend>

    <div class="row">

      <div class="col-md-6">
        <%= f.field_container :name, class: ['form-group'] do %>
          <%= f.label :name %>
          <%= f.text_field :name, :class => "form-control" %>
        <% end %>
      </div>

      <div class="col-md-2">
        <%= f.field_container :aspect_ratio, class: ['form-group'] do %>
          <%= f.label :aspect_ratio %>
          <%= f.select :aspect_ratio, options_for_select(@aspect_ratio_selects, selected: @lookbook.aspect_ratio), {}, class: 'select2' %>
        <% end %>
      </div>

      <div class="col-md-2">
        <%= f.field_container :available_on, class: ['form-group'] do %>
          <%= f.label :available_on %>
          <%= f.text_field :available_on, { :value => datepicker_field_value(@lookbook.available_on), :class => 'datepicker fullwidth' } %>
        <% end %>
      </div>

      <div class="col-md-2">
        <%= f.field_container :published, class: ['form-group'] do %>
          <%= f.label :published %>
          <%= f.check_box :published %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.field_container :content, class: ['form-group'] do %>
          <%= f.label :content %>
          <%= f.text_area :content, class: "form_control" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="field">
          <% if @lookbook.id != nil %>
            <%= link_to "Show Slides (#{@lookbook.slides.count})", admin_lookbook_slides_path(@lookbook) %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render :partial => 'spree/admin/shared/save_resource_links', :locals => { :f => f } %>


  </fieldset>
<% end %>