<% content_for :page_title do %>
  <%= Spree.t(:listing_lookbooks) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:new_lookbook), new_object_url, { :remote => true, :icon => 'plus', :id => 'admin_new_lookbook' } %>
  </li>
<% end if can?(:create, Spree::Lookbook) %>

<%= render :partial => 'spree/admin/shared/content_sub_menu' %>

<div id="new_lookbook_wrapper" data-hook=""></div>

<table id="listing_lookbooks">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slides</th>
      <th>Available On</th>
      <th>Aspet Ratio</th>
    </tr>
  <tbody>

    <% @lookbooks.each do |lookbook| %>

      <tr>
        <td><%= lookbook.name %></td>
        <td><%= link_to "Slides (#{lookbook.slides.length})", admin_lookbook_slides_path(lookbook) %></td>
        <td>
          <% if defined? lookbook.available_on %>
          <%= lookbook.available_on.to_formatted_s(:nice) %>
          <% end %>
        </td>

        <td>
          <%= lookbook.aspect_ratio %>
        </td>

        <td class="actions">
          <%= link_to "", edit_admin_lookbook_path(lookbook), { :class => "edit fa fa-edit icon_link with-tip no-text" } %>
          &nbsp;
          <%= link_to "", admin_lookbooks_path(lookbook), { "class" => "delete-resource fa fa-trash icon_link with-tip no-text", "data-action" => "remove", "data-confirm" => "Are you sure?", "title" => "Delete" } %>
        </td>
      </tr>

    <% end %>

</table>
