<% if (@product.images + @product.variant_images).uniq.size > 1 %>

  <% @product.images.each_with_index do |i, index| %>
    <% if(index == 0) %>
      <%= image_tag i.attachment.url(:large), :class => "current" %>
    <% else %>
      <%= image_tag i.attachment.url(:large) %>
    <% end %>
  <% end %>

  <% if @product.has_variants? %>
    <% @product.variant_images.each do |i| %>
      <% next if @product.images.include?(i) %>
        <%= image_tag i.attachment.url(:large) %>
    <% end %>
  <% end %>

<% else %>


  <% if defined?(image) && image %>
    <%= image_tag image.attachment.url(:product), :class => "current" %>
  <% else %>
    <%= product_image @product, :class => "current" %>
  <% end %>


<% end %>

<div class="left capture"></div>
<div class="right capture"></div>

<a id="zoom"></a>
