<% content_for :page_title do %>
  <%= Spree.t(:edit_slide_image) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_slide), spree.edit_admin_slide_path(@slide_image.slide), :icon => 'arrow-left' %>
  </li>
  <li>
    <%= button_link_to Spree.t(:new_slide_image), spree.new_admin_slide_slide_image_path(@slide_image.slide), :icon => 'plus' %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/content_sub_menu' %>

<%= render 'form' %>