 <% content_for :page_title do %>
  <%= Spree.t(:slide_images) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_slides), spree.admin_slide_slide_images_path(@lookbook), icon: 'arrow-left' %></li>
  <li><%= button_link_to Spree.t(:back_to_slide), spree.edit_admin_slide_path(@slide), :icon => 'arrow-left' %></li>
  <li><%= button_link_to Spree.t(:new_slide_image), spree.new_admin_slide_slide_image_path, :icon => 'plus' %></li>
<% end %>


<%= render :partial => 'spree/admin/shared/content_sub_menu' %>

<% if @slide.slide_images.any? %>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @slide.slide_images.each do |slide_image| %>
        <tr>
          <td>
            <%= image_tag slide_image.attachment(:thumb) %>
          </td>
          <td class="actions">
            <%= link_to_edit slide_image, :no_text => true, :class => 'edit' %>
            &nbsp;
            <%= link_to_delete slide_image, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Images to display. Why not <%= link_to "add one", spree.new_admin_slide_slide_image_path %>?</p>
<% end %>