<% content_for :top do %>

  <div id="video-container">
    <video autoplay loop muted data-state="playing" poster="//newyorksunshine.s3.amazonaws.com/hoop-dreams.jpg">
      <source src="//newyorksunshine.s3.amazonaws.com/hoop-dreams-201502121415.mp4">
    </video>
    <div class="description"><div class="inner"><%== @artist_statement %></div></div>
    <div class="top-area"></div>
    <div class="bottom-area"></div>
  </div>

  <div id="artbook" class="main-gallery">
    <% @works.each do |work| %>
      <%= image_tag work.attachment(:large), class: "slide gallery-cell" %>
    <% end %>
    <div class="left capture"></div>
    <div class="right capture"></div>
  </div>

  <div class="thumbnails">
    <% @works.each_with_index do |work, index| %>
      <div class="thumbnail <%= index == 2 ? 'current' : nil %>">
        <%= image_tag work.attachment(:large), class: "work" %>
      </div>
    <% end %>
  </div>

  <div id="artbook-tank" class="main-gallery">
    <% @works.each do |work| %>
      <%= image_tag work.attachment(:large), class: "slide gallery-cell" %>
    <% end %>
    <div class="left capture"></div>
    <div class="right capture"></div>
  </div>

  <div class="thumbnails">
    <% @works.each_with_index do |work, index| %>
      <div class="thumbnail <%= index == 2 ? 'current' : nil %>">
        <%= image_tag work.attachment(:large), class: "work" %>
      </div>
    <% end %>
  </div>

<% end %>
