<%= form_for [:admin, @artists_statement] do |f| %>

  <div class="row">

    <div class="sixteen columns alpha omega">
      <%= f.field_container :value do %>
        <%= f.text_area :value, :class => "fullwidth", :rows => 10 %>
      <% end %>
    </div>

  </div>

  <div class="row">
    <div class="actions center" style="text-align: center">
      <%= f.submit "update" %> or <%= link_to "Cancel", admin_art_path %>
    </div>
  </div>

<% end %>