<!-- HYPEBEAST -->
<div id="press-link">
  <a href="http://hypebeast.com/2015/11/john-margaritis-2015-art-basel" target="blank">
    <%= image_tag "press/Hypebeast.png" %>
  </a>
</div>

<!-- Highsnobiety -->
<div id="press-link">
  <a href="http://www.highsnobiety.com/2015/11/26/john-margaritis-high-tide/" target="blank">
    <%= image_tag "press/HighSnob.png" %>
  </a>
</div>

<!-- Desillusion -->
<div class="desillusion">
  <a href="http://www.desillusion-mag.com/blog/2015/11/25/high-tide" target="blank">
  <%= image_tag "press/Desillusion.png" %>
  </a>
</div>

<!-- designboom -->
<div class="designboom">
  <a href="http://www.designboom.com/art/john-margaritis-new-york-sunshine-high-tide-miami-art-week-2015-12-25-2015/" target="blank">
    <%= image_tag "press/Designboom.png" %>
  </a>
</div>

<!-- Racked Miami -->
<div id="press-link">
  <a href="http://miami.racked.com/2015/12/1/9820724/miami-art-basel-week-fashion-exhibits" target="blank">
    <%= image_tag "press/RackedMiami.png" %>
  </a>
</div>

<!-- Stab -->
<div id="press-link">
  <a href="http://stabmag.com/a-brand-we-love-new-york-sunshine/" target="blank">
    <%= image_tag "press/Stab.png" %>
  </a>
</div>

<!-- Colette -->
<div id="press-link">
  <a href="http://www.colette.fr/content/hoop-dreams-de-john-margaritis/" target="blank">
    <%= image_tag "press/colette.png" %>
  </a>
</div>

<div id="press-link">
<a href="http://oneyard.com/magazine/lexposition-hoop-dreams-colette/" target="blank">
  <%= image_tag "press/yard.png" %>
  <!-- Yard -->
</a>
</div>

<!-- i-D -->
<div class="i-d">
  <a href="https://i-d.vice.com/en_us/article/a-new-show-brings-basketball-to-the-beach" target="blank">
    <%= image_tag "press/i-D.png" %>
  </a>
</div>

<!-- Greenlabel -->
<div id="press-link">
  <a href="http://greenlabel.com/style/boutique-visit-enjoying-the-new-york-sunshine-in-miami/" target="blank">
    <%= image_tag "press/greenlabel.png" %>
  </a>
</div>

<!-- Slam x Hype -->
<div id="press-link">
  <a href="http://slamxhype.com/style/5-minutes-new-york-sunshine-surf-basketball-boutique-heart-hamptons/" target="blank">
    <%= image_tag "press/Slamxhype.png" %>
  </a>
</div>

<!-- Vanity Fair -->
<div id="press-link">
  <a href="http://files.newyorksunshine.com/vanityfair.pdf" target="blank">
    <%= image_tag "press/vanityfair.png" %>
  </a>
</div>

<!-- Hamptons Magazine -->
<div id="press-link">
  <a href="http://files.newyorksunshine.com/hamptons-magazine.pdf" target="blank">
    <%= image_tag "press/hamptons.png" %>
  </a>
</div>
