<div id="press-link">
<a href="http://hypebeast.com/2015/11/john-margaritis-2015-art-basel" target="blank" class="press-link">
  <%= image_tag "press/Hypebeast.png" %>
  <!-- HYPEBEAST -->
</a>
</div>

<div id="press-link">
<a href="http://www.highsnobiety.com/2015/11/26/john-margaritis-high-tide/" target="blank" class="press-link">
  <%= image_tag "press/HighSnob.png" %>
  <!-- Highsnobiety -->
</a>
</div>

<div id="press-link">
<a href="http://www.desillusion-mag.com/blog/2015/11/25/high-tide" target="blank" class="press-link">
  <%= image_tag "press/Desillusion.png" %>
  <!-- Desillusion -->
</a>
</div>

<div id="press-link">
<a href="http://www.designboom.com/art/john-margaritis-new-york-sunshine-high-tide-miami-art-week-2015-12-25-2015/" target="blank" class="press-link">
  <%= image_tag "press/Designboom.png" %>
  <!-- designboom -->
</a>
</div>

<div id="press-link">
<a href="http://miami.racked.com/2015/12/1/9820724/miami-art-basel-week-fashion-exhibits" target="blank" class="press-link">
  <%= image_tag "press/RackedMiami.png" %>
  <!-- Racked Miami -->
</a>
</div>

<div id="press-link">
<a href="http://stabmag.com/a-brand-we-love-new-york-sunshine/" target="blank" class="press-link">
  <%= image_tag "press/Stab.png" %>
  <!-- Stab -->
</a>
</div>

<div id="press-link">
<a href="http://www.colette.fr/content/hoop-dreams-de-john-margaritis/" target="blank" class="press-link">
  <%= image_tag "press/colette.png" %>
  <!-- Colette -->
</a>
</div>

<div id="press-link">
<a href="http://oneyard.com/magazine/lexposition-hoop-dreams-colette/" target="blank" class="press-link">
  <%= image_tag "press/yard.png" %>
  <!-- Yard -->
</a>
</div>

<div id="press-link">
<a href="https://i-d.vice.com/en_us/article/a-new-show-brings-basketball-to-the-beach" target="blank" class="press-link">
  <%= image_tag "press/i-D.png" %>
  <!-- i-D -->
</a>
</div>

<div id="press-link">
<a href="http://greenlabel.com/style/boutique-visit-enjoying-the-new-york-sunshine-in-miami/" target="blank" class="press-link">
  <%= image_tag "press/greenlabel.png" %>
  <!-- Greenlabel -->
</a>
</div>

<div id="press-link">
<a href="http://slamxhype.com/style/5-minutes-new-york-sunshine-surf-basketball-boutique-heart-hamptons/" target="blank" class="press-link">
  <%= image_tag "press/Slamxhype.png" %>
  <!-- Slam x Hype -->
</a>
</div>
