<%= form_for @action, :html => { :multipart => true } do |f| %>

  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="eight columns alpha">
      <%= f.field_container :embed_code do %>
        <%= f.label(:embed_code) %>
        <%= f.text_area(:embed_code) %>
      <% end %>
    </div>

    <div class="eight columns omega">
      <%= f.field_container :layout do %>
        <%= f.label :layout %>
        <%= f.select :layout, options_for_select(@layouts_hash, selected: @slide.layout), {}, class: 'select2' %>
      <% end %>
    </div>
  </div>


  <hr>

  <% unless f.object.new_record? %>
  <label>Slide Images
    <%= link_to "Show Slide Images (#{@slide.slide_images.length})", admin_slide_slide_images_path(@slide) %>
  <% end %>

  <fieldset>

  <div class="form-buttons filter-actions actions">
    <%= f.submit %>
    or Cancel
  </div>

</fieldset>

<% end %>
