<%= form_for @action, :html => { :multipart => true } do |f| %>

  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>

    <%= f.label(:embed_code) %>
    <%= f.text_area(:embed_code) %>


  <hr>

  <% unless f.object.new_record? %>
    <%= link_to "Slide Images", admin_slide_slide_images_path(@slide) %>
  <% end %>

  <fieldset>

  <div class="form-buttons filter-actions actions">
    <%= f.submit %>
    or Cancel
  </div>

</fieldset>

<% end %>
