<% content_for :page_title do %>
  <%= Spree.t(:listing_slides_for_lookbook) %> "<%= @lookbook.name %>"
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:new_slide), new_admin_lookbook_slide_path, { :remote => false, :icon => 'plus', :id => 'admin_new_lookbook' } %>
  </li>
<% end if can?(:create, Spree::Slide) %>

<%= render :partial => 'spree/admin/shared/content_sub_menu' %>

<% if @slides.any? %>
  <table>
    <thead>
      <tr>
        <th>Order</th>
        <th>Position</th>
        <th>Embed Code</th>
        <th>Slide Images</th>
      </tr>
    </thead>

    <tbody>
      <% @slides.each do |admin_lookbook_slide| %>
        <tr>
          <td><%= admin_lookbook_slide.order %></td>
          <td><%= admin_lookbook_slide.position %>
          <td><%= admin_lookbook_slide.embed_code %></td>
          <td>

            <% admin_lookbook_slide.slide_images.each do |slide_image| %>
              <%= image_tag slide_image.attachment.url(:thumb) %>
            <% end %>

          </td>
          <td class="actions">
            <%= link_to "Edit", edit_admin_lookbook_slide_path(@lookbook, admin_lookbook_slide), :no_text => true, :class => 'edit' %>
            &nbsp;
            <%= link_to 'Destroy', admin_lookbook_slide_path(@lookbook, admin_lookbook_slide), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No slides to display</p>
<% end %>
