<% content_for :page_title do %>
  <%= Spree.t(:listing_lookbook_slides) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:new_slide), new_admin_lookbook_slide_path, { :remote => false, :icon => 'plus', :id => 'admin_new_lookbook' } %>
  </li>
<% end if can?(:create, Spree::Slide) %>

<%= render :partial => 'spree/admin/shared/content_sub_menu' %>


<table>
  <thead>
    <tr>
      <th>Embed Code</th>
      <th>Images</th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.embed_code %></td>
        <td><%= link_to "Slide Images ()", admin_slide_slide_images_path(slide)  %></td>
        <td class="actions">
          <%= link_to 'Show', admin_slide_path(slide) %>
          &nbsp;
          <%= link_to 'Edit', edit_admin_slide_path(slide) %>
          &nbsp;
          <%= link_to 'Destroy', admin_slide_path(slide), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
