<% content_for :page_title do %>
  <%= Spree.t(:listing_slides_for_lookbook) %> "<%= @lookbook.name %>"
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:new_slide), new_admin_lookbook_slide_path, { :remote => false, :icon => 'plus', :id => 'admin_new_lookbook' } %>
  </li>
<% end if can?(:create, Spree::Slide) %>

<%= render :partial => 'spree/admin/shared/content_sub_menu' %>

<% if @slides.any? %>
  <table>

    <colgroup>
      <col style="width: 5%">
      <col style="width: 20%">
      <col style="width: 35%">
      <col style="width: 15%">
    </colgroup>

    <thead>
      <tr>
        <th colspan="2">Slide Images</th>
        <th>Embed Code</th>
      </tr>
    </thead>

    <tbody class="sortable">
      <% @slides.each do |admin_lookbook_slide| %>
        <tr id="slide_<%= admin_lookbook_slide.id %>">
          <td class="center position no-border"><span class="handle ui-sortable-handle"></span></td>
          <td>
            <% admin_lookbook_slide.slide_images.each do |slide_image| %>
              <%= link_to slide_image.attachment.url, target: '_blank' do %><%= image_tag slide_image.attachment.url(:thumb) %><% end %>
            <% end %>
          </td>
          <td><%= admin_lookbook_slide.embed_code %></td>
          <td class="actions">
            <%= link_to '', edit_admin_lookbook_slide_path(@lookbook, admin_lookbook_slide), :no_text => true, :class => 'fa fa-edit icon_link with-tip no-text' %>
            &nbsp;
            <%= link_to '', admin_lookbook_slide_path(@lookbook, admin_lookbook_slide), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-resource fa fa-trash icon_link with-tip no-text" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No slides to display</p>
<% end %>
