<% content_for :page_title do %>
  <%= Spree.t(:listing_slides_for_lookbook) %> "<%= @lookbook.name %>"
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:new_slide), new_admin_lookbook_slide_path, { :remote => false, :icon => 'plus', :id => 'admin_new_lookbook' } %>
  </li>
<% end if can?(:create, Spree::Slide) %>



<% if @slides.any? %>
  <table class="table">

    <thead>
      <tr>
        <th colspan="2">Slide Images</th>
        <th>Embed Code</th>
        <th data-hook="admin_products_index_header_actions" class="actions"></th>
      </tr>
    </thead>

    <tbody class="sortable">
      <% @slides.each do |admin_lookbook_slide| %>
        <tr id="slide_<%= admin_lookbook_slide.id %>">
          <td class="center position no-border"><span class="handle ui-sortable-handle"></span></td>
          <td>
            <% admin_lookbook_slide.slide_images.each do |slide_image| %>
              <%= link_to slide_image.attachment.url, target: '_blank' do %><%= image_tag slide_image.attachment.url(:thumb) %><% end %>
            <% end %>
          </td>
          <td><%= admin_lookbook_slide.embed_code %></td>
          <td class="actions actions-2 text-right">


            <%= link_to_edit nil, url: polymorphic_path([:admin, @lookbook, admin_lookbook_slide], action: "edit"), no_text: true, class: 'edit' %>

            <%= link_to_delete nil, url: polymorphic_path([:admin, @lookbook, admin_lookbook_slide]), no_text: true %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No slides to display</p>
<% end %>
