
<footer class="container">
  
   <nav class="footer-nav">
   	<span>&copy;<%= Time.now.year %> New York Sunshine</span>
     <!-- <%= link_to_unless_current('Stockists', { controller: "stockists"}) do %>
       <%= link_to("Stockists", nil, { class: "current"}) %>
     <% end %> -->
   	<!-- <%= link_to_unless controller.controller_name == "press", "Press", spree.press_path do %>
       <%= link_to "Press", nil, class: "current" %>
     <% end %> -->
   	<!-- <a href="/about">About</a> -->
   	<a href="/returns-exchanges">Returns &amp; Exchanges</a>
   	<a id="subscribe" href="/subscribe">Subscribe</a>
   </nav>
 
  <!-- <div id="social">
     <a title="Email us" href="mailto:info@newyorksunshine.com" target="_blank" class="email"></a>
     <a title="Facebook" href="http://www.facebook.com/pages/New-York-Sunshine/133428023339923" target="_blank" class="facebook"></a>
    <a title="Instagram" href="http://instagram.com/newyorksunshine" target="_blank" class="instagram"></a>
     <a title="Twitter" href="http://twitter.com/NYSunshine3" target="_blank" class="twitter"></a>
   </div> -->
 
 </footer>
