<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta name="viewport" content="initial-scale=1, minimal-ui">
<%== meta_data_tags %>
<% if @product.present? %>
<meta property="og:title"       content="<%= accurate_title %>" itemprop="name" />
<meta property="og:type"        content="product"/>
<meta property="og:url"         content="<%= product_url(@product) %>"/>

<% if (@product.images + @product.variant_images).uniq.size > 1 %>

  <meta property="og:image"       content="<%= @product.images.first.attachment.url %>" itemprop="image" />

<% else %>
  <% if defined?(image) && image %>
    <meta property="og:image"   content="<%= image.attachment.url(:product) %>" itemprop="image" />
  <% end %>
<% end %>


<meta property="og:site_name"   content="New York Sunshine" itemprop="publisher" />
<!-- <meta property="og:description" content="" /> -->
<% end %>
<%= canonical_tag %>
<%= favicon_link_tag image_path('favicon.ico') %>
<%= stylesheet_link_tag 'spree/frontend/all', :media => 'screen' %>
<%= javascript_include_tag 'spree/frontend/all' %>
<%= csrf_meta_tags %>

<%= render "spree/shared/routes" %>
<%= render "spree/shared/frontend_routes" %>


<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
