<meta charset="utf-8">
<meta name="viewport" content ="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title><%= title %></title>


<%== meta_data_tags %>

<% if @product.present? %>
  <meta property="og:title"       content="<%= accurate_title %>" itemprop="name">
  <meta property="og:type"        content="product">
  <meta property="og:url"         content="<%= product_url(@product) %>">

  <% if (@product.images + @product.variant_images).uniq.size > 1 %>
    <meta property="og:image"       content="<%= @product.images.first.attachment.url %>" itemprop="image">
  <% else %>
    <% if defined?(image) && image %>
      <meta property="og:image"   content="<%= image.attachment.url(:product) %>" itemprop="image">
    <% end %>
  <% end %>


  <meta property="og:site_name"   content="New York Sunshine" itemprop="publisher">
  <!-- <meta property="og:description" content="" /> -->
<% else %>
  <meta property="og:title"       content="<%= title %>" itemprop="name">
  <meta property="og:type"        content="website">
  <meta property="og:url"         content="http://newyorksunshine.com/">
  <meta property="og:image"       content="<%= image_path('touch-icon.png') %>" itemprop="image">
<% end %>


<%= canonical_tag %>
<%= favicon_link_tag image_path('favicon.png') %>
<link rel="apple-touch-icon" href="<%= image_path('favicon.png') %>">

<meta name="application-name" content="New York Sunshine">

<%= stylesheet_link_tag 'spree/frontend/all', :media => 'all' %>
<%= javascript_include_tag 'spree/frontend/all' %>
<%= csrf_meta_tags %>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->

<%= yield :head %>