<header>

  <h1 id="logo"><%= link_to 'New York Sunshine', spree.root_path %></h1>

  <label id="equivalent" for="equivalent-check"></label>
  <input id="equivalent-check" type="checkbox">

  <nav class="main-nav">

    <%= link_to_unless_current("Shop", { controller: "products" }, { class: "shop" }) do %>
      <%= link_to("Shop", nil, { class: "shop current" }) %>
    <% end %>

    <%= link_to_unless_current('Surfclub', { controller: "surfclub"}) do %>
      <%= link_to("Surfclub", nil, { class: "current"}) %>
    <% end %>

    <%= link_to_unless_current('Lookbook', { controller: "lookbooks"}) do %>
      <%= link_to("Lookbook", nil, { class: "current"}) %>
    <% end %>

    <%= link_to_unless_current('News', { controller: "news"}) do %>
      <%= link_to("News", nil, { class: "current"}) %>
    <% end %>

    <%= link_to_unless_current('Stockists', { controller: "stockists"}) do %>
      <%= link_to("Stockists", nil, { class: "current"}) %>
    <% end %>





    <% link_to Spree.t(:cart), '/cart' %>
    <span id="link-to-cart">Cart(0)</span>
  </nav>

</header>