<!-- OLD HEADER >>>

<header>

  <h1 id="logo"><%= link_to 'New York Sunshine', spree.root_path %></h1>

  <label id="equivalent" for="equivalent-check"></label>
  <input id="equivalent-check" type="checkbox">

  <nav class="main-nav">

    <%= link_to_unless controller.controller_name == "products", "Shop", spree.products_path, class: "shop" do %><%= link_to "Shop", nil, class: "shop current" %><% end %>

    <%= link_to_unless controller.controller_name == "surfclub", "Surfclub", spree.surfclub_path do %><%= link_to "Surfclub", nil, class: "current" %><% end %>

    <%= link_to_unless controller.controller_name == 'lookbooks', 'Lookbook', spree.lookbooks_path do %><%= link_to("Lookbook", nil, class: "current") %><% end %>

    <%= link_to_unless controller.controller_name == "arts", "Art", spree.art_path do %><%= link_to "Art", nil, class: "current" %><% end %>

    <a href="http://hightide.newyorksunshine.com" target="_blank">High Tide</a>

    <% link_to Spree.t(:cart), '/cart' %>
      <a class="cart-info" href="/cart">Cart(0)</a>
  </nav>

</header>
 -->

<header>
  <label id="equivalent" for="equivalent-check"></label>
  <input id="equivalent-check" type="checkbox">
  <nav class="main-nav">
    <%= link_to_unless controller.controller_name == "products", "Shop", spree.products_path, class: "shop" do %><%= link_to "Shop", spree.products_path, class: "shop current" %><% end %>
    <%= link_to_unless controller.controller_name == "arts", "Art", spree.art_path do %><%= link_to "Art", nil, class: "current" %><% end %>
    <a href="http://hightide.newyorksunshine.com">Hightide</a>
    <a href="https://www.instagram.com/newyorksunshine/">Instagram</a>
    <a href="mailto:info@newyorksunshine.com">Email</a>
  </nav>
</header>
