<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <% content_for :top do %>
    <%= paginate paginated_products %>
  <% end %>
<% end %>


<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h4 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h4>
<% end %>

<% if products.any? %>
  <div id="feed" class="inline product-listing" data-hook>
    <% products.each do |product| %>
      <%= link_to(product, {:id => "product_" + product.id.to_s, :class => "product", "data-hook" => "products_list_item", "itemscope" => "", :itemtype => "http://schema.org/Product" }) do %>
        <%= small_image(product, :itemprop => "image", :class => "product-image") %>
        <div class="info">
          <span class="name" href="/products/ruby-on-rails-bag" itemprop="name" title="Ruby on Rails Bag"><%= product.name %></span>
          <span class="price selling" itemprop="price"><%= display_price(product) %></span>
          </div>
      <% end %>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
