<% if feed_item && feed_item.product %>



  <!-- STATIC -->
  <% if product_path(feed_item.product) %>


    <%= link_to product_path(feed_item.product), { :class => "product" } do %>

      <% if feed_item.attachment.present? %>

        <%= image_tag feed_item.attachment.url(:cropped), { width: 100 } %>

      <% elsif (defined?(image) && image) %>
        <%= image_tag image.attachment.url(:product) %>
      <% else %>
        <%= product_image(feed_item.product) %>
      <% end %>

      <div class="info">
        <div><%= "SHOP" %></div>
        <%= feed_item.product.name %>
      </div>
    <% end %>

  <% else %>

    <span class="product">
      <%= image_tag "none", { width: 100 } %>
      <div class="info">
        <div><%= "SHOP" %></div>
        <%= feed_item.product.name %>
      </div>
    </span>

  <% end %>





<% else %>

  <div class="feed-item" data-id="<%= feed_item.id %>" id="feeditem_<%= feed_item.id %>">

    <div class="info">
      <p>No product to display</p>
    </div>

  </div>

<% end %>